.company{
    background-color:#f2cfe4;
    padding: 30px;
    border-radius: 15px;
}

._lriijlm {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: normal;
    font-family: OpenSans-Light, OpenSans, Arial, sans-serif;
}

._1bf726b {
    text-align: center;
    padding-bottom: 24px;
    font-family: OpenSans, Arial, sans-serif;
}

