.blog{
    background-color: #dddcf1;
    padding: 30px;
  }
  
  .single__blog__item {
    background-color: #fff;
    margin-bottom: 35px;
    border-radius: 15px;
    padding: 15px 15px;
  }
  
  .blog__img img {
    border-radius: 15px; 
  }
  
  .blog__title:hover {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(0, 97, 224);
  }
  
  .blog__top__left h2 {
    font-weight: 600;
  }